

// Colors

$primary_color: hsl(322, 100%, 66%);  // pink
$secondary_color: hsl(265, 100%, 66%); // violet

$primary_neutral_color: hsl(214, 64%, 98%); // light grayish blue
$secondary_neutral_color: hsl(208, 11%, 55%);  // mid grayish blue
$tertiary_neutral_color: hsl(192, 100%, 9%);  // very dark cyan

// Shadows

$shadow-one: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-two: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-three: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-four: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow-five: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

// Typography

$body_font_size: 18px;
$heading_font_family: 'Poppins', sans-serif;
$primary_heading_weight: 700;
$secondary_heading_weight: 600;
$tertiary_heading_weight: 400;

$body_font_family: 'Open Sans', sans-serif;
$primary_body_weight: 400;
$secondary_body_weight: 700;

$baseline: 24px;

// breakpoints

@mixin breakpoint($point) {
   @if $point == xs {
      @media only screen and (min-width: 375px) {
         @content;
      }
   } @else if $point == s {
      @media only screen and (min-width: 768px) {
         @content;
      }
   } @else if $point == md {
      @media only screen and (min-width: 992px) {
         @content;
      }
   } @else if $point == lg {
      @media only screen and (min-width: 1440px) {
         @content;
      }
   }
}


// vendor prefixing

@mixin vendor_prefix($prop, $value) {
   -webkit-#{$prop}: #{$value};
   -moz-#{$prop}: #{$value};
   -ms-#{$prop}: #{$value};
   -o-#{$prop}: #{$value};
   #{$prop}: #{$value};
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hphgbe');
  src:  url('fonts/icomoon.eot?hphgbe#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hphgbe') format('truetype'),
    url('fonts/icomoon.woff?hphgbe') format('woff'),
    url('fonts/icomoon.svg?hphgbe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e901";
}

.icon-twitter:before {
  content: "\e902";
}

.icon-facebook:before {
  content: "\e903";
}

.icon-logo:before {
  content: "\e900";
  @extend .pr-1;
}

.icon-logo--header::before {
  @extend .icon-logo:before;
  color: $primary_color;
}

:root {
  font-size: $body_font_size;
}

.wrapper {
  width: 100vw;
  overflow-x: hidden;
  font-family: $body_font_family;
  font-weight: $primary_body_weight;
  background-color: $primary_neutral_color;
  position: relative;
  margin-bottom: 0;
}

.style-elements {
  margin-top: 0px;
  transform-origin: top center;
  transform: rotateZ(332deg)
    translateY(-16vh)
    translateX(-54vw);
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.style-elements::before,
.style-elements::after {
  content: " ";
  display: block;
  width: 107vw;
  position: relative;
}

.style-elements::after {
  background: linear-gradient(0deg, $secondary-color, $primary-color);
  height: 125vh;
  margin-left: -2rem;
  border-radius: 4.5rem;
  z-index: 2;
}

.style-elements::before {
  background: white;
  height: 75vh;
  z-index: 1;
  margin-top: 30%;
  border-radius: 2.5rem;
}

%btn-input {
  padding-top: $baseline * (2/8);
  padding-bottom: $baseline * (2/8);
  border-radius: .1rem;
  border: none;
  font-size: $baseline * (5/8);
  line-height: 1;
}

.btn {
  @extend %btn-input;
  min-width: $baseline * 4;
  @extend .pl-2;
  @extend .pr-2;
  @extend .mb-1;
  background-color: $primary_neutral_color;
  color: $secondary_color;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.btn--primary {
  @extend .btn;
  background-color: $primary_color;
  color: $primary_neutral_color;
}

.btn--fluid {
  @extend .btn;
  width: 100%;
}

.mt-1 {margin-top: $baseline * 0.5; }
.mt-2 {margin-top: $baseline * 1; }
.mt-3 {margin-top: $baseline * 1.5; }
.mt-4 {margin-top: $baseline * 2; }

.mb-1 {margin-bottom: $baseline * 0.5; }
.mb-2 {margin-bottom: $baseline * 1; }
.mb-3 {margin-bottom: $baseline * 1.5; }
.mb-4 {margin-bottom: $baseline * 2; }
.mb-8 {margin-bottom: $baseline * 4; }

.ml-1 {margin-left: $baseline * 0.5; }
.ml-2 {margin-left: $baseline * 1; }
.ml-3 {margin-left: $baseline * 1.5; }
.ml-4 {margin-left: $baseline * 2; }

.mr-1 {margin-right: $baseline * 0.5; }
.mr-2 {margin-right: $baseline * 1; }
.mr-3 {margin-right: $baseline * 1.5; }
.mr-4 {margin-right: $baseline * 2; }


.pt-1 { padding-top: $baseline * 0.5; }
.pt-2 { padding-top: $baseline * 1; }
.pt-3 { padding-top: $baseline * 1.5; }
.pt-4 { padding-top: $baseline * 2; }

.pb-1 { padding-bottom: $baseline * 0.5; }
.pb-2 { padding-bottom: $baseline * 1; }
.pb-3 { padding-bottom: $baseline * 1.5; }
.pb-4 { padding-bottom: $baseline * 2; }

.pl-1 { padding-left: $baseline * 0.5; }
.pl-2 { padding-left: $baseline * 1; }
.pl-3 { padding-left: $baseline * 1.5; }
.pl-4 { padding-left: $baseline * 2; }

.pr-1 { padding-right: $baseline * 0.5; }
.pr-2 { padding-right: $baseline * 1; }
.pr-3 { padding-right: $baseline * 1.5; }
.pr-4 { padding-right: $baseline * 2; }

.p-1 {
  @extend .pt-1;
  @extend .mb-1;
  @extend .pl-1;
  @extend .pr-1;
}

/*
.p-2 { padding-right: $baseline * 1; }
.p-3 { padding-right: $baseline * 1.5; }
.p-4 { padding-right: $baseline * 2; }
*/

.elevate-1 {
  box-shadow: $shadow-one;
  position: relative;
  z-index: 1;
}

.elevate-2 {
  box-shadow: $shadow-two;
  position: relative;
  z-index: 2;
}

.elevate-3 {
  box-shadow: $shadow-three;
  position: relative;
  z-index: 3;
}

.elevate-4 {
  box-shadow: $shadow-four;
  position: relative;
  z-index: 4;
}

div, p, section {
  @extend .pt-1;
  @extend .mb-3;
  margin-top: 0;
  margin-block-start: 0;
}

p {
  line-height: $baseline;
  color: $secondary_neutral_color;
}

.h1, h1, h2, h3, .h3 {
  font-family: $heading_font_family;
  line-height: $baseline * 1.5;
  @extend .mb-1;
}

.h1, h1, h2 {
  font-size: $body_font_size * 1.5;
  font-weight: $primary_heading_weight;
}

h3, .h3 {
  font-weight: $secondary_heading_weight;
  font-size: $body_font_size * 1.3;
}

.container {
  @extend .pl-3;
  @extend .pr-3;
  position: relative;
  z-index: 2;
}

.container--main {
  @extend .container;
  @extend .mb-8;
}

.container--header {
  @extend .container;
  @extend .mb-8;
  @extend .mt-2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container--footer {
  @extend .container;
  @extend .pt-4;
  background-color: $tertiary_neutral_color;
}

.main-section {
  text-align: center;
}

.main-section--conversations,
.main-section--intro {
  @extend .main-section;
}

%main-section-before {
  content: " ";
  display: block;
  width: 100%;
  height: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  @extend .mb-4;
}

.main-section--intro::before {
  padding-top: 71.25%;
  background-image: url('../images/illustration-mockups.svg');
  @extend %main-section-before;
}

.main-section--intro {
  @extend .mb-8;
}

.main-section--conversations::before {
  padding-top: 77.25%;
  background-image: url('../images/illustration-your-users.svg');
  @extend %main-section-before;
  @extend .mb-8;
}

.card {
  border-radius: 0.2rem;
  background-color: white;
  @extend .p-1;
  @extend .pb-2;
  text-align: center;
}

.card__title {
  @extend .h3;
}

.card__title,
.card__content {
  @extend .mb-1;
  @extend .mt-1;
}

.footer::after {
  display: block;
  content: " ";
  width: 1px;
  height: 1px;
}

.footer__logo {
  color: white;
  text-align: center;
  @extend .mb-8;
}

.list__item,
.list__item a {
  text-decoration: none;
  @extend .pb-2;
}

.cta-form,
.cta-form__desc,
.list__item,
.list__item a,
.footer__social,
.attribution,
.attribution a,
.copyright,
.attribution {
  color: $primary_neutral_color;
}

.cta-form {
  text-align: center;
}

.cta-form__desc,
.cta-form__email {
  @extend .mb-2;
}

.cta-form__email {
  display: block;
  @extend %btn-input;
  width: 100%;
}

.footer__social {
  text-align: center;
  @extend .h3;
}

.copyright,
.attribution {
  text-align: center;
}

.copyright {
  font-size: 12px;
}

.attribution,
.attribution a {
  font-size: 14px;
  text-decoration: none;
  @extend .mb-1;
}


