:root {
  font-size: 18px; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #f7f9fd;
  margin-top: 0px; }

.btn {
  min-width: 96px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: .2rem;
  background-color: #f7f9fd;
  color: #9a52ff;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border: none;
  font-size: 15px;
  line-height: 1; }

.btn--primary {
  background-color: #ff52bf;
  color: #f7f9fd; }

.mt-1, .card__title,
.card__content {
  margin-top: 12px; }

.mt-2, .container--header {
  margin-top: 24px; }

.mt-3 {
  margin-top: 36px; }

.mt-4 {
  margin-top: 48px; }

.mb-1, .btn, .p-1, .card, h1, h2, h3, .h3, .card__title,
.card__content {
  margin-bottom: 12px; }

.mb-2 {
  margin-bottom: 24px; }

.mb-3, div, p, section {
  margin-bottom: 36px; }

.mb-4, .main-section--intro::before, .main-section--conversations::before {
  margin-bottom: 48px; }

.mb-8, .container--main, .container--header, .main-section--intro, .main-section--conversations::before {
  margin-bottom: 96px; }

.ml-1 {
  margin-left: 12px; }

.ml-2 {
  margin-left: 24px; }

.ml-3 {
  margin-left: 36px; }

.ml-4 {
  margin-left: 48px; }

.mr-1 {
  margin-right: 12px; }

.mr-2 {
  margin-right: 24px; }

.mr-3 {
  margin-right: 36px; }

.mr-4 {
  margin-right: 48px; }

.pt-1, .p-1, .card, div, p, section {
  padding-top: 12px; }

.pt-2 {
  padding-top: 24px; }

.pt-3 {
  padding-top: 36px; }

.pt-4, .container--footer {
  padding-top: 48px; }

.pb-1 {
  padding-bottom: 12px; }

.pb-2, .card {
  padding-bottom: 24px; }

.pb-3 {
  padding-bottom: 36px; }

.pb-4 {
  padding-bottom: 48px; }

.pl-1, .p-1, .card {
  padding-left: 12px; }

.pl-2 {
  padding-left: 24px; }

.pl-3, .btn, .container, .container--main, .container--header, .container--footer {
  padding-left: 36px; }

.pl-4 {
  padding-left: 48px; }

.pr-1, .p-1, .card {
  padding-right: 12px; }

.pr-2 {
  padding-right: 24px; }

.pr-3, .btn, .container, .container--main, .container--header, .container--footer {
  padding-right: 36px; }

.pr-4 {
  padding-right: 48px; }

/*
.p-2 { padding-right: $baseline * 1; }
.p-3 { padding-right: $baseline * 1.5; }
.p-4 { padding-right: $baseline * 2; }
*/
.elevate-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  z-index: 1; }

.elevate-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  z-index: 2; }

.elevate-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  z-index: 3; }

.elevate-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  z-index: 4; }

div, p, section {
  margin-top: 0;
  margin-block-start: 0; }

p {
  line-height: 24px;
  color: #808d99; }

h1, h2, h3, .h3, .card__title {
  font-family: "Poppins", sans-serif;
  line-height: 36px; }

h1, h2 {
  font-size: 27px;
  font-weight: 700; }

h3, .h3, .card__title {
  font-weight: 600;
  font-size: 23.4px; }

.container--header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.container--footer {
  background-color: #00252e; }

.main-section, .main-section--conversations, .main-section--intro {
  text-align: center; }

.main-section--intro::before, .main-section--conversations::before {
  content: " ";
  display: block;
  width: 100%;
  height: 0;
  background-size: 100%;
  background-repeat: no-repeat; }

.main-section--intro::before {
  padding-top: 71.25%;
  background-image: url("../images/illustration-mockups.svg"); }

.main-section--conversations::before {
  padding-top: 77.25%;
  background-image: url("../images/illustration-your-users.svg"); }

.card {
  border-radius: 0.2rem;
  background-color: white;
  text-align: center; }
