@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?hphgbe");
  src: url("fonts/icomoon.eot?hphgbe#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?hphgbe") format("truetype"), url("fonts/icomoon.woff?hphgbe") format("woff"), url("fonts/icomoon.svg?hphgbe#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-instagram:before {
  content: "\e901"; }

.icon-twitter:before {
  content: "\e902"; }

.icon-facebook:before {
  content: "\e903"; }

.icon-logo:before, .icon-logo--header::before {
  content: "\e900"; }

.icon-logo--header::before {
  color: #ff52bf; }

:root {
  font-size: 18px; }

.style-elements {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #f7f9fd;
  margin-top: 0px;
  position: relative;
  overflow-x: hidden;
  width: 100vw; }

.style-elements::before,
.style-elements::after {
  content: " ";
  display: block;
  width: 100vw;
  height: 125vh;
  border-radius: 4.5rem;
  position: absolute;
  z-index: 1;
  transform-origin: top center;
  transform: rotateZ(332deg) translateY(1vh) translateX(32vw); }

.style-elements::before {
  background: linear-gradient(0deg, #9a52ff, #ff52bf); }

.btn, .btn--primary, .btn--fluid, .cta-form__email {
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: .1rem;
  border: none;
  font-size: 15px;
  line-height: 1; }

.btn, .btn--primary, .btn--fluid {
  min-width: 96px;
  background-color: #f7f9fd;
  color: #9a52ff;
  text-decoration: none;
  text-align: center;
  display: inline-block; }

.btn--primary {
  background-color: #ff52bf;
  color: #f7f9fd; }

.btn--fluid {
  width: 100%; }

.mt-1, .card__title,
.card__content {
  margin-top: 12px; }

.mt-2, .container--header {
  margin-top: 24px; }

.mt-3 {
  margin-top: 36px; }

.mt-4 {
  margin-top: 48px; }

.mb-1, .btn, .btn--primary, .btn--fluid, .p-1, .card, .h1, h1, h2, h3, .h3, .card__title, .footer__social,
.card__content, .attribution,
.attribution a {
  margin-bottom: 12px; }

.mb-2, .cta-form__desc, .cta-form__email {
  margin-bottom: 24px; }

.mb-3, div, p, section {
  margin-bottom: 36px; }

.mb-4, .main-section--intro::before, .main-section--conversations::before {
  margin-bottom: 48px; }

.mb-8, .container--main, .container--header, .main-section--intro, .main-section--conversations::before, .footer__logo {
  margin-bottom: 96px; }

.ml-1 {
  margin-left: 12px; }

.ml-2 {
  margin-left: 24px; }

.ml-3 {
  margin-left: 36px; }

.ml-4 {
  margin-left: 48px; }

.mr-1 {
  margin-right: 12px; }

.mr-2 {
  margin-right: 24px; }

.mr-3 {
  margin-right: 36px; }

.mr-4 {
  margin-right: 48px; }

.pt-1, .p-1, .card, div, p, section {
  padding-top: 12px; }

.pt-2 {
  padding-top: 24px; }

.pt-3 {
  padding-top: 36px; }

.pt-4, .container--footer {
  padding-top: 48px; }

.pb-1 {
  padding-bottom: 12px; }

.pb-2, .card, .list__item,
.list__item a {
  padding-bottom: 24px; }

.pb-3 {
  padding-bottom: 36px; }

.pb-4 {
  padding-bottom: 48px; }

.pl-1, .p-1, .card {
  padding-left: 12px; }

.pl-2, .btn, .btn--primary, .btn--fluid {
  padding-left: 24px; }

.pl-3, .container, .container--main, .container--header, .container--footer {
  padding-left: 36px; }

.pl-4 {
  padding-left: 48px; }

.pr-1, .icon-logo:before, .icon-logo--header::before, .p-1, .card {
  padding-right: 12px; }

.pr-2, .btn, .btn--primary, .btn--fluid {
  padding-right: 24px; }

.pr-3, .container, .container--main, .container--header, .container--footer {
  padding-right: 36px; }

.pr-4 {
  padding-right: 48px; }

/*
.p-2 { padding-right: $baseline * 1; }
.p-3 { padding-right: $baseline * 1.5; }
.p-4 { padding-right: $baseline * 2; }
*/
.elevate-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  z-index: 1; }

.elevate-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  z-index: 2; }

.elevate-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  z-index: 3; }

.elevate-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  z-index: 4; }

div, p, section {
  margin-top: 0;
  margin-block-start: 0; }

p {
  line-height: 24px;
  color: #808d99; }

.h1, h1, h2, h3, .h3, .card__title, .footer__social {
  font-family: "Poppins", sans-serif;
  line-height: 36px; }

.h1, h1, h2 {
  font-size: 27px;
  font-weight: 700; }

h3, .h3, .card__title, .footer__social {
  font-weight: 600;
  font-size: 23.4px; }

.container, .container--main, .container--header, .container--footer {
  position: relative;
  z-index: 2; }

.container--header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.container--footer {
  background-color: #00252e; }

.main-section, .main-section--conversations, .main-section--intro {
  text-align: center; }

.main-section--intro::before, .main-section--conversations::before {
  content: " ";
  display: block;
  width: 100%;
  height: 0;
  background-size: 100%;
  background-repeat: no-repeat; }

.main-section--intro::before {
  padding-top: 71.25%;
  background-image: url("../images/illustration-mockups.svg"); }

.main-section--conversations::before {
  padding-top: 77.25%;
  background-image: url("../images/illustration-your-users.svg"); }

.card {
  border-radius: 0.2rem;
  background-color: white;
  text-align: center; }

.footer::after {
  display: block;
  content: " ";
  width: 1px;
  height: 1px; }

.footer__logo {
  color: white;
  text-align: center; }

.list__item,
.list__item a {
  text-decoration: none; }

.cta-form,
.cta-form__desc,
.list__item,
.list__item a,
.footer__social,
.attribution,
.attribution a,
.copyright,
.attribution {
  color: #f7f9fd; }

.cta-form {
  text-align: center; }

.cta-form__email {
  display: block;
  width: 100%; }

.footer__social {
  text-align: center; }

.copyright,
.attribution {
  text-align: center; }

.copyright {
  font-size: 12px; }

.attribution,
.attribution a {
  font-size: 14px;
  text-decoration: none; }
